<h1>Todo application</h1>

<button (click)="itemsService.reset()">Reset items</button>
<button (click)="itemsService.clear()">Clear items</button>

<app-todo-list [itemsList]="itemsService.getItems()"></app-todo-list>

